<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <% include partial/header.ejs %>
    <% include partial/navbar.ejs %>
</head>
<body>
    <h1>Hi <%= username %></h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            <tr><td><a href="/updateprofile">Update my personal information</a></td></tr>
            <tr><td><a href="/logout">Logout</a></td></tr>
        </tbody>

        <thead class="thead-light">
            <tr>
                <th scope="col">Passenger portal</th>
            </tr>
        </thead>
        <tbody>
            <tr><td><a href="/unlockpassenger">Unlock passenger features</a></td></tr>
        </tbody>

        <thead class="thead-light">
            <tr>
                <th scope="col">Driver portal</th>
            </tr>
        </thead>
        <tbody>
            <tr><td><a href="/unlockdriver">Unlock driver features</a></td></tr>
        </tbody>
    </table>
</body>
</html>
