<!DOCTYPE html>
<html>
<head>
    <title>SequelRideSharing</title>
    <% include partial/header.ejs %>
</head>
<body>
    <h1>Welcome to SequelRideSharing!</h1>
    <h3><a href="/register">Register</a></h3>
    or
    <h3><a href="/login">Login</a></h3>

    <h2>About SequelRideSharing</h2>
    <p>We are a Singapore-based, carpooling startup connecting drivers willing to offer their vehicles with adventurous passengers islandwide.</p>

    <h2>Why carpool with us?</h2>
    <ul>
        <li>Meet new interesting people from our pool of carefully-curated drivers.</li>
        <li>We offer plenty of vouchers and rewards!</li>
        <li>Save the environment.</li>
    </ul>
</body>
</html>
