<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <title>Manage Cars</title>
    <% include partial/navbar.ejs %>
    <br>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>

<script>
    function getCarPlate(rowNum) {
        return document.querySelector('row' + rowNum).dataset.plate_no;
    }
</script>

    <h1><%= title %></h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Plate No.</th>
                <th scope="col">Model</th>
                <th scope="col">COE Expiry</th>
                <!-- Edit/Delete -->
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use this once SQL Query is up -->
            <!-- % for(var i=0; i<data.length; i++) { %>
                <tr>
                    <td id={%= 'row' + i%> >{%= data[i].plate_no %></td>
                    <td>{%= data[i].model %></td>
                    <td>{%= data[i].sdate %></td>
                    <td>
                        <form action="/">
                            <input type="hidden" id="carPlate" name="carPlate"
                                value={% document.querySelector('row' + rowNum).dataset.plate_no %>>
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            % } %> -->
            <tr>
                <td>SGT1451L</td>
                <td>Toyota Prius</td>
                <td>19/02/2020</td>
                <td>
                    <form action="/">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="/">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <tr>
                <td>SGT1451L</td>
                <td>Toyota Prius</td>
                <td>19/02/2020</td>
                <td>
                    <form action="/">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="/">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <tr>
                    <td>SGT1451L</td>
                    <td>Toyota Prius</td>
                    <td>19/02/2020</td>
                    <td>
                        <form action="/">
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
            </tr>
        </tbody>
    </table>
    
    <h2>Add Car</h2>
    <form action="/">
        Plate No <input type="text" name="Plate No"><br>
        Model <input type="text" name="Model"><br>
        COE Expiry <input type="date" name="COE Expiry"><br>
        <input type="submit" value="Add Car">
    </form>
</body>
</html>
