<!DOCTYPE html>
<html>
<head>
    <title>My Cars</title>
    <% include partial/header.ejs %>
</head>
<body>
    <% include partial/navbar.ejs %>

<script>
    function getCarPlate(rowNum) {
        return document.querySelector('row' + rowNum).dataset.plate_no;
    }
</script>

    <h1>My cars</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Plate No.</th>
                <th scope="col">Model</th>
                <th scope="col">COE Expiry</th>
                <!-- Edit/Delete -->
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use this once SQL Query is up -->
            <!-- % for(var i=0; i<data.length; i++) { %>
                <tr>
                    <td id={%= 'row' + i%> >{%= data[i].plate_no %></td>
                    <td>{%= data[i].model %></td>
                    <td>{%= data[i].sdate %></td>
                    <td>
                        <form action="/">
                            <input type="hidden" id="carPlate" name="carPlate"
                                value={% document.querySelector('row' + rowNum).dataset.plate_no %>>
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            % } %> -->
            <tr>
                <td>SGT1451L</td>
                <td>Toyota Prius</td>
                <td>19/02/2020</td>
                <td>
                    <form action="/">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="/">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <tr>
                <td>SGT1451L</td>
                <td>Toyota Prius</td>
                <td>19/02/2020</td>
                <td>
                    <form action="/">
                        <input type="submit" value="Edit">
                    </form>
                    <form action="/">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <tr>
                    <td>SGT1451L</td>
                    <td>Toyota Prius</td>
                    <td>19/02/2020</td>
                    <td>
                        <form action="/">
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
            </tr>
        </tbody>
    </table>
    
    <h2>Add a car</h2>
    <form action="/addcar" role="form" method="post">
        <div class="form-group">
            <label>Plate number <input type="text" class="form-control" name="plate_num" placeholder="SBC1234Z"></label>
        </div>
        <div class="form-group">
            <label>Model <input type="text" class="form-control" name="model" placeholder="Honda Prius"></label>
        </div>
        <div class="form-group">
            <label>COE Expiry (1 year of remaining validity needed)
                <input type="date" class="form-control" name="edate"></label>
        </div>
        <div class="form-group">
            <label>How many seats?
                <input type="number" min="1" max="100" class="form-control" name="num_seats"></label>
        </div>
        <input type="submit" value="Add Car">
    </form>
</body>
</html>
