<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <% include partial/navbar.ejs %>
        <br>
        <% include partial/header.ejs %>
    </head>
    <body>
        <h1>Register</h1>
        <form id="html_form" action="register" role="form" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter your desired username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter your name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
